/* ==========================================================
   RESET
========================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================================================
   HTML
========================================================== */
html {
  scroll-behavior: smooth;
}

/* ==========================================================
   BODY
========================================================== */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ==========================================================
   MEDIA
========================================================== */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ==========================================================
   FORM ELEMENTS
========================================================== */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

textarea {
  resize: vertical;
}

/* ==========================================================
   BUTTON
========================================================== */
button {
  cursor: pointer;
  border: none;
  background: transparent;
}

/* ==========================================================
   LINK
========================================================== */
a {
  color: inherit;
  text-decoration: none;
}

/* ==========================================================
   LIST
========================================================== */
ul,
ol {
  list-style: none;
}

/* ==========================================================
   TABLE
========================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================
   HEADING
========================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ==========================================================
   PARAGRAPH
========================================================== */
p {
  overflow-wrap: break-word;
}

/* ==========================================================
   QUOTES
========================================================== */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

/* ==========================================================
   HR
========================================================== */
hr {
  border: 0;
  border-top: 1px solid #ddd;
}

/* ==========================================================
   SELECTION
========================================================== */
::selection {
  background: #222;
  color: #fff;
}

/* ==========================================================
   SCROLLBAR (Chrome)
========================================================== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: rgba(239, 237, 237, 0.3882352941);
  padding: 60px 0;
}
@media (max-width: 992px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
    padding: 0px;
  }
}
.header__news {
  padding: 0 25px;
}
.header__news .news-title1 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 900;
}
.header__news .news-title2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Roboto", serif;
  font-weight: 200;
}
.header__news .news-logo {
  float: right;
}
@media (max-width: 992px) {
  .header__news {
    display: none;
  }
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #aeadad;
  border-right: 2px solid #aeadad;
  padding: 3rem 2rem;
}
@media (max-width: 992px) {
  .header__logo {
    border: none;
  }
}
.header__logo a {
  text-decoration: none;
  color: inherit;
}
.header__logo .logo-text {
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  margin-bottom: 1.5rem;
  position: relative;
}
@media (max-width: 1400px) {
  .header__logo .logo-text {
    font-size: 3.5rem;
  }
}
@media (max-width: 992px) {
  .header__logo .logo-text {
    font-size: 3rem;
  }
}
.header__logo .logo-text:after {
  left: 50%;
  bottom: -7px;
  width: 250px;
  height: 1px;
  content: "";
  -webkit-transition: all 0.13s;
  transition: all 0.13s;
  margin-left: -125px;
  position: absolute;
  background-color: #aeadad;
}
.header__logo .logo-text:hover::after {
  background-color: #222;
  width: 100%;
  margin-left: 0;
  left: 0%;
}
.header__logo .tarih {
  font-family: "Roboto", serif;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
.header__weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: "Roboto", serif;
  gap: 1rem;
  padding: 2rem;
}
.header__weather .location-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
}
.header__weather .location-select select {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
.header__weather .location-select span {
  color: #999;
  font-weight: 600;
}
.header__weather .time {
  display: flex;
  gap: 0.4rem;
  font-size: 20px;
}
.header__weather .time .time-duration {
  font-weight: 700;
}
.header__weather .weather-degree {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__weather .weather-degree .degree {
  font-size: 50px;
  font-weight: bold;
}
.header__weather .weather-degree i {
  font-size: 2.5rem;
}
.header__weather .weather-description .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .header__weather {
    display: none;
  }
}

.hero {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.hero__left .news-card__title {
  font-size: 40px;
  font-weight: bold;
}
.hero__left .news-card__title:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
.hero__left .news-card__desc {
  font-size: 23px;
  color: rgb(25.5, 25.5, 25.5);
  font-family: "Roboto", serif;
  font-weight: 350;
  margin-top: 20px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
}
.hero__left .news-card__desc p + p {
  margin-top: 30px;
}
.hero__left .news-card__link {
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-color: #4a4a4a;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
  font-family: "Roboto", serif;
}
.hero__left .news-card__link:hover {
  transition: all 0.3s ease;
  color: red;
  text-decoration-color: red;
}
.hero__center .hero__image {
  width: 100%;
  height: auto;
  box-shadow: -2px 2px 0 #e2e2e2;
}
.hero__center .featured-news__title {
  margin-top: 20px;
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
}
.hero__center .featured-news__title:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
.hero__center .featured-news__desc {
  font-size: 23px;
  color: rgb(25.5, 25.5, 25.5);
  font-family: "Roboto", serif;
  font-weight: 350;
  margin-top: 20px;
  line-height: 1.5;
}
.hero__right .news-card__title {
  font-size: 40px;
  font-weight: bold;
}
.hero__right .news-card__title:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
.hero__right .news-card__desc {
  font-size: 23px;
  color: rgb(25.5, 25.5, 25.5);
  font-family: "Roboto", serif;
  font-weight: 350;
  margin-top: 20px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
}
.hero__right .news-card__desc p + p {
  margin-top: 30px;
}
.hero__right .news-card__link {
  font-size: 20px;
  color: rgba(116, 116, 116, 0.6941176471);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgba(116, 116, 116, 0.6941176471);
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
  font-family: "Roboto", serif;
}
.hero__right .news-card__link:hover {
  transition: all 0.3s ease;
  color: red;
  text-decoration-color: red;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.category {
  display: flex;
  border-top: 3px solid #ddd;
  background: rgba(222, 222, 222, 0.4549019608);
}
@media (max-width: 992px) {
  .category {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
.category__item {
  flex: 1;
  position: relative;
  padding: 2rem 2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.25s ease;
}
.category__item:hover {
  background: rgba(148, 148, 148, 0.1215686275);
}
.category__item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #666;
}
@media (max-width: 992px) {
  .category__item {
    padding: 10px;
  }
}
.category__title {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.category__title::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 100px;
  height: 1.2px;
  transform: translateX(-50%);
  -webkit-transition: all 0.13s;
  transition: all 0.13s;
  background-color: #222;
}
.category__text {
  font-family: "Roboto", serif;
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 300;
}

.one-cikanlar {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
  height: 380px;
}
@media (max-width: 1400px) {
  .one-cikanlar {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
}
@media (max-width: 992px) {
  .one-cikanlar {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.one-cikanlar__left {
  background: rgba(239, 237, 237, 0.3882352941);
  padding: 30px;
  width: 100%;
  height: 100%;
}
.one-cikanlar__left .one-cikanlar-left__title {
  color: #666;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 35px;
  font-family: "Courgette", cursive;
}
.one-cikanlar__left .one-cikanlar-left__news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media (max-width: 992px) {
  .one-cikanlar__left .one-cikanlar-left__news {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
}
.one-cikanlar__left .one-cikanlar-left__news h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.one-cikanlar__left .one-cikanlar-left__news p {
  font-size: 23px;
  font-weight: 450;
  font-family: "Roboto", serif;
}
.one-cikanlar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 237, 237, 0.3882352941);
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .one-cikanlar__right {
    display: none;
  }
}
.one-cikanlar__right .mobil-img {
  width: 400px;
  height: 350px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
